* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #222;
}

.btn {
  /* display: flex; */
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: aliceblue;
  margin-bottom: 0.5em;
}

button {
  display: block;
  margin: 0 auto 2em;
  padding: 1.5em;
  width: 20%;
  border-radius: 5em;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: large;
}

.btn1 {
  background: #833131;
}

.btn2 {
  background: #5858be;
}

.btn3 {
  background: #635252;
}

.btn4 {
  background: #e7ad84;
}

.btn5 {
  background: #29b373d2;
}

.btn6 {
  background: #8e7fe2;
}

.btn7 {
  background: #b92500;
}
